
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<a class="btn btn-default" href="@Url.Action("DeveloperNoClaimPage")">DeveloperNoClaimPage</a>
<a class="btn btn-default" href="@Url.Action("DeveloperWithClaimPage")">DeveloperWithClaimPage</a>
<a class="btn btn-default" href="@Url.Action("TesterNoClaimPage")">TesterNoClaimPage</a>
<a class="btn btn-default" href="@Url.Action("TesterWithClaimPage")">TesterWithClaimPage</a>

